# Day objectives
## introduction to jupter notebook
**BOLD**


*ITALIAN*


*TEXT


<img src="http://localhost:8888/files/Desktop/problem%20solving%20and%20programing%20phase1/portfolio_05.jpg">
1. ordered list 1

2. ordered list 2

3. ordered list 3

## Python Basics

In [5]:
'''gfsyj
dfhhiu
ljgjrgfik'''

'gfsyj\ndfhhiu\nljgjrgfik'

In [10]:
## Variable Assignment 
n=64
n

64

In [11]:
n1=n
n

64

In [12]:
n1=n2=n3=n
n

64

In [18]:
d=5.1
d
type(d)

float

In [17]:
n=12
print(n)
n1=5
n1
type(n1)

12

int

In [15]:
c="name" # string should be either single or doubel quotes
c

'name'

In [16]:
# type() is used to check the datatype 
type(c)

str

In [22]:
# type convertion:converting one data type into another
x=10
type(x)
float(x)
str(x)
str(x),float(x)

('10', 10.0)

In [23]:
# Basic arithematic operations
## ADD
a=31
b=16
a+b

24

In [24]:
## subtract
a-b

-8

In [25]:
# multiplication
a*b

128

In [27]:
# division
b//a    # single modular gives float value,doubel modular gives intger value

2

In [29]:
#modular
print(a%2)

0

In [31]:
a="k"
type(a)

str

In [32]:
int(str(a))
type(a)

ValueError: invalid literal for int() with base 10: 'k'

In [33]:
## indentation error in python
##nothing but space or tab
## conditional statements:to check whether the condition is true or false 
## if,els,if-else,nested if,nested else

In [41]:
## if condition
## write a program to know how to use if condition
n=265
if (n%2==0):
    print("n is even")
else:
    print("n is odd")

n is odd

In [42]:
## biggest number
a=int(input())
b=int(input())
if a>b:
    print("a is biggest number")
else:
    print("b is biggest number")

10
5
a is biggest number

In [44]:
a=input()
a

pavan

'pavan'

##string slicing

In [45]:
s="python"
s

'python'

In [46]:
len(s) # len() is a method to know the length of the string

6

In [48]:
s[4]

'o'

In [49]:
s[0]

'p'

In [53]:
s1="python programing is a powerful language"
len(s1)

40

In [57]:
s1[-2] #from last word we will get the second last element

'g'

In [58]:
s1[len(s1)-1]

'e'

In [63]:
k="name"
print(len(k))
print(k[len(k)-1])
print(k[-1])
print(k[-2])
print(k[len(k)-2])

4
e
e
m
m

In [68]:
s="python program a very efficient language"
print(len(s))
print(s[0:6])
print(s[50:100])

40
python

In [77]:
print(s[-9:-1])

 languag

In [80]:
print(s[0::2])

pto rga  eyefcetlnug

In [83]:
print(s[::-1])

egaugnal tneiciffe yrev a margorp nohtyp

In [85]:
print(s[::-2])

eaga niif rvamropnhy

In [86]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [88]:
s.capitalize()
print(s)
s=s.capitalize()
print(s)

python program a very efficient language
Python program a very efficient language

In [89]:
s.title()

'Python Program A Very Efficient Language'

In [90]:
s.upper()

'PYTHON PROGRAM A VERY EFFICIENT LANGUAGE'

In [91]:
s.lower()

'python program a very efficient language'

In [96]:
b="Aa"
print(b.isupper())
print(b.islower())
b.isalpha()

False
False

True

In [98]:
p="42434564"
p.isdigit()

True

In [106]:
w=input()
if w==w[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

525
palindrome

In [109]:
a="   lokesh   "
print(a.strip())
a.lstrip()

lokesh

'lokesh   '

In [111]:
a.count('k')

1

In [112]:
a.find('k')

5

In [114]:
d1=input()
d2=input()
if d1==d2:
    print("identical")
else:
    print("not identical")

bharath
bharath
identical

In [3]:
##functions
# functions in python denined by a keyword "def"
## write a programe for finding leap yea
def isleapyear(year):
    if (year%400==0) or (year%4==0 and year%100!=0):
         print("is a leap year")\
    else:
                print("is not a leap year")
isleapyear(2024)

SyntaxError: invalid syntax (<ipython-input-3-953b7e411350>, line 6)

In [127]:
## the numbers which are divisible by 10 but not by 4 using functions
def division(div):
    if(div%10==0) and (div%4!=4):
        print("divisible by 10")
    else:
        print("not divisible by 10")
division(41)

not divisible by 10

In [132]:
def largest(num1,num2,num3):
    if(num1>=num2) and (num1>=num3):
        print("largest=num1")
    elif(num2>=num1)and(num2>=num3):
        print("largest=num2")
    else:
        print("largest=num3")
largest(30,40,50)

largest=num3

In [146]:
def naturalnumbers(n):
    for i in range(1,n+1,2):
        print(i)
naturalnumbers(10)

1
3
5
7
9

In [154]:
def evenumber(n):
    for i in range(2,n+1,2):
        print(i)
evenumber(20)

2
4
6
8
10
12
14
16
18
20

In [156]:
def oddnumber(n):
    for i in range(1,n+1,6):
        print(i)
oddnumber(40)

1
7
13
19
25
31
37

In [165]:
def factors(x):
    for i in range(1, x+1):
        if x % i == 0:
            print(i)
print_factors(6)

1
2
3
6

In [181]:
def factorial(n):
    fact=1
    for i in range(1,n + 1):
        fact = fact*i
    print(fact)
factorial(6)

720

In [1]:
f="welcome python"
f.split()

['welcome', 'python']

In [29]:
#list

1

In [40]:
print(b[1::2])

[2, 15, 25]

In [41]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
l1=[]
l1.append(2300)
l1.append(200)
print(l1)

[2300, 200]

In [63]:
l1.extend([1,2,3])
l1

[2300, 200, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 3]

In [4]:
name=[]
age=[]
for i in range(0,2):
    name1=input()
    age1=input()
    name.append(name1)
    age.append(age1)
    print(name,age)

pavan
19
['pavan'] ['19']
lokesh
22
['pavan', 'lokesh'] ['19', '22']

In [26]:
l=[1,2,1,2,4,5,4]
l.count(1)
l.index(2,0)
del(l)
print(l)

NameError: name 'l' is not defined

In [27]:
l=[1,2,3]
a=l.copy()
print(1)
print(a)
a[0]=100
print(a)
print(l)

1
[1, 2, 3]
[100, 2, 3]
[1, 2, 3]