# list

In [1]:
l=[1,2,3,4,5,8]
print(sum(l))

23

In [2]:
a=-2.6
abs(a)
round(a)
b=[1,2,66,15,3,25]
len(b)
sum(b)
chr(99)
ord('A')
bin(4)
oct(4)
hex(25)
sorted(b,reverse=True)
max(b)
min(b)

1

In [3]:
print(b[1::2])

[2, 15, 25]

In [4]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
l1=[]
l1.append(2300)
l1.append(200)
print(l1)

[2300, 200]

In [6]:
l1.extend([1,2,3])
l1

[2300, 200, 1, 2, 3]

In [7]:
name=[]
age=[]
for i in range(0,2):
    name1=input()
    age1=input()
    name.append(name1)
    age.append(age1)
    print(name,age)

kid
18
['kid '] ['18']
pavan
19\
['kid ', 'pavan'] ['18', '19\\']

In [8]:
l=[1,2,1,2,4,5,4]
l.count(1)
l.index(2,0)

1

In [10]:
l=[1,2,3]
a=l.copy()
print(1)
print(a)
a[0]=100
print(a)
print(l)

1
[1, 2, 3]
[100, 2, 3]
[1, 2, 3]

# tuple

In [11]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [16]:
a=("pavan","7997650615")
(name,mobile)=a
name

'pavan'

# dictionaries

In [18]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
d={"name":"pavan","roll no":1242,"age":19}
d.values()
d.keys()
d.items()

dict_items([('name', 'pavan'), ('roll no', 1242), ('age', 19)])

In [27]:
d["name"]="sai"
d

{'name': 'sai', 'roll no': 1242, 'age': 19}

In [29]:
d["gender"]="m"
d

{'name': 'sai', 'roll no': 1242, 'age': 19, 'gender': 'm'}

In [30]:
# check whether the given number is in range or not in python
# lb=lowerbond
# ub=upperbond

In [11]:
def test_range(n):
    if n in range(10,40):
        print( " s is in the range")
    else :
        print(" is not in the range")
test_range(70)
test_range(5)

 is not in the range
 is not in the range

In [28]:
def digit(n):
    count=0
    while n>0:
        n=n//10
        count+=1
    print(count)
digit(4561)

4

In [8]:
# print the leap year with in the given range 
def leap(l,u):
    for i in range(l,u):
            if(i%400==0)or(i%4==0 and i%100!=0):
                print(i)
leap(1990,2020)

1992
1996
2000
2004
2008
2012
2016

In [2]:
#check whether prime or not in python
def isprime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
             count+=1    
    if count==0:
        return True
    else:
        return False
isprime(4)

False

In [15]:
def prime(l,u):
    for i in range(l,u+1):
        if isprime(i):
            print(i)
prime(2,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [8]:
def equal(s,n):
    if str(s)==n:
        print(True)
    else:
        print(False)
equal("abc",12)

False

In [6]:
def isPerfect( n ):
    sum = 1
    i = 2
    while i * i <= n:
        if n % i == 0:
            sum = sum + i + n/i
        i += 1
        return (True if sum == n and n!=1 else False)
     
    limit = int(input("Enter a number"))
    print("Below are all perfect numbers till 100")
    n = 2
    for n in range (limit):
        if isPerfect (n):
            print(n , " is a perfect number")

In [4]:
def variable(a,b):
    if(a==10 and b==10):
         return True
    elif(a+b==10):
        return True
    else:
        return False
variable(5,5)

True

In [15]:
   def largest(l):
        l=[8,9,10,4,5]
        l.sort()
        print(l)
        print(max(l))
        print(min(l))
        print(l[-2])
largest(l)

[4, 5, 8, 9, 10]
10
4
9

# unique list

In [17]:
def li():
    li=[2,3,4,2,3]
    l=[]
    for i in li:
        if i not in l:
            l.append(i)
    print(l)
li()

[2, 3, 4]

In [7]:
def ki():
    ki=[2,4,4,4,6,6,3]
    k=[]
    for i in ki:
        if i not in k:
            k.append(i)
            k.sort()
    print(k)
    print(max(k))
    print(min(k))
   
    print(k)   
    
ki()

[2, 3, 4, 6]
6
2
[2, 3, 4, 6]